# ========================
# .NET
# ========================
**/bin/
**/obj/
*.user
*.suo
.vs/
**/*.db
**/*.db-shm
**/*.db-wal

# ========================
# Node / Next.js
# ========================
**/node_modules/
**/.next/
**/out/
**/.env
**/.env.local
**/.env.production

# ========================
# Docker
# ========================
**/.dockerignore

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# IDE
# ========================
.idea/
.vscode/
*.swp